

.map-card{
    margin-top:25px;
    padding:20px;
    border-radius:12px;
    width: 800px;
    position: absolute;
    top: 70px;
    left: 160px;
    
}
.MapContainer
{
    position: absolute;
    width: 400px;
    height: 300px;
    right: 430px;
    top: 70px;
    
    
}