
.stats-container{
    flex:1;
    display:flex;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}
.stat-card1{
    border: 2px solid rgba(0, 0, 0, 0.183);
    margin-top: 20px;
    background-color: #ffffff;
    border-radius:12px;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:15px;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
    transition:.2s;
    width: 120px;
    height: auto;
}


.stat-card2{
    
    border: 2px solid rgba(0, 0, 0, 0.183);
    background:#ffffff;
    border-radius:12px;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:15px;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
    transition:.2s;
    width: 120px;
    height: auto;
    margin-top: 20px;
}


.stat-card1:hover{
    transform:translateY(-3px);
}
.stat-card2:hover{
    transform:translateY(-3px);
}

.icon{
    width:55px;
    height:55px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
    color:#fff;
}

.traffic{
    background:#2563eb;
}

.flood{
    background:#0ea5e9;
}

.pollution{
    background:#10b981;
}

.alert{
    background:#ef4444;
}

.stat-content h4{
    margin:0;
    font-size:15px;
    color:#6b7280;
    font-weight:500;
}

.stat-content h2{
    margin:5px 0;
    font-size:28px;
    color:#111827;
}

.stat-content p{
    margin:0;
    font-size:14px;
    color:#9ca3af;
}

@media(max-width:900px){

.stats-container{
    flex-wrap:wrap;
}

.stat-card1{
    width:48%;
}
.stat-card2{
    width:48%;
}

}

@media(max-width:600px){

.stat-card1{
    width:100%;
}
.stat-card2{
    width:100%;
}

}
.navstat{
    position: static;
    display: flex;
    flex-direction: row;
    gap: 10px;
}